body {
    /* background-image: url("../images/galaxy.jpg"); */
}

#gameTitle {
    color:blue;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.container {
    border-style: solid;
    height:100%;
    background-color:lightpink;
}

#start {
    color: black;

}
